<html>

<head>
    <title>Event Booking</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form method="POST" action="" enctype="">
        <div class="newsandmedia">
            <center>
                <h2>COX'S BAZER EVENT</h2><br>
                <a href="eventregistration.html"><img src="../cox2.jpeg" height="160" width="250" /> </a>
                <br>
                <a href="home.php"><input type="button" name="" value="HOME" /></a>
                <a href="newsComment.html"><input type="button" name="" value="READ" /></a>
            </center>
        </div>



    </form>
</body>

</html>