<html>

<head>
    <title>COMMENT</title>


<body>
    <form method="POST" action="" enctype="">
        <fieldset>
            <h2>COX'S BAZER NEWS</h2><br>
            <p>"The people working in the tourism industry in Cox's Bazar are not doing well. We were in dire straits
                right after the pandemic cut down our visitors in March 2020, and since then, periodically business ebbs
                and flows, but has yet to reach pre-pandemic levels. We had a good run in December 2021, but right
                after, due to the unsavoury news spreading about safety in Cox's Bazar and such, business fell from
                January. Even now, we are not booking any large corporate events as the permissions for those are
                unofficially halted for the surge in Omicron strain of COVID-19," said Md Mozahidul Islam, director of
                operations at Hotel White Beach.</p>

            <br>
            COMMENT:<textarea></textarea><br>
            <a href="home.php"><input type="button" name="" value="HOME" /></a>
            <input type="submit" name="" value="SEND" />


        </fieldset>
    </form>
</body>

</html>