
<html>

<head>
    <title>PAYMENT</title>
</head>

<body>
    <form method="POST" action="logincheck.php" enctype="">
        <fieldset>
            <legend>PAYMENT</legend>
            SELECT BANK: <br>
            <input type="checkbox" name="" value=""> AB BANK <br>
            <input type="checkbox" name="" value=""> DUTCH-BANGLA BANK <br>
            <input type="checkbox" name="" value=""> BRAC BANK <br>
            <input type="checkbox" name="" value=""> CITY BANK <br><br>
            <a href="home.php"><input type="button" name="" value="Home" /></a>
            <input type="submit" name="" value="Submit" />



        </fieldset>
    </form>
</body>

</html>

