<html>

<head>
    <title>Event Booking</title>


<body>
    <form method="POST" action="" enctype="">
        <fieldset>
            <h2>Search Hotel</h2><br>
            Name of City :<select name="">
                <option value="Coxs Bazar">Coxs Bazer</option>
                <option value="Sylhet">Sylhet</option>
                <option value="Rangpur">Rangpur</option>
            </select> <br><br>
            Chack in :<input type="date" name="dob" value="" /> <br><br>
            Chack out :<input type="date" name="dob" value="" /> <br><br>
            Guest : <input type="number" name="number" value="" /> <br><br>

            <a href="home.php"><input type="button" name="" value="HOME" /></a>
            <a href="selecthotel.html"><input type="button" name="" value="SEARCH" /></a>



        </fieldset>
    </form>
</body>

</html>