<html>

<head>
    <title>Event Booking</title>


<body>
    <form method="POST" action="" enctype="">
        <fieldset>
            <h3>PLEASE SELECT A HOTEL</h3>
            <u>
                <a href="payment.html">Green hotel</a> <br>
                <a href="payment.html">3 ster hotel</a><br>
                <a href="payment.html">5ster hotel</a><br>
            </u><br>
            <a href="home.php"><input type="button" name="" value="HOME" /></a>
            <a href="searchhotel.html"><input type="button" name="" value="CANCEL" /></a>


        </fieldset>
    </form>
</body>

</html>